{% extends "layout2.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block main %}
    <h1>Add or change your particulars.</h1>
    <br>
    <form action="/editprofile" method="post">
        <div class="form-group">
            <textarea class="form-control" autofocus name="bio" rows="4" cols="23" placeholder="Biography"></textarea>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="occupation" placeholder="Occupation" type="text"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" autofocus name="location" rows="4" cols="23" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="region" placeholder="Country" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Change Particulars</button>
    </form>
{% endblock %}
