{% extends "layout2.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Join us.</h1>
    <br>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <br>
        <p>Password must contain at least:</p>
        <ul>
            <li>8 characters</li>
            <li>1 uppercase letter</li>
            <li>1 lowercase letter</li>
            <li>1 number</li>
            <li>1 special symbol</li>
        </ul>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
